@import 'common/variables.scss';
@import 'common/mixins.scss';
@import 'includes/buttons.scss';
@import 'includes/side-nav-partial.scss';
@import 'includes/user-activity-partial.scss';
@import 'includes/page-header-partial.scss';
@import 'includes/modal-custom.scss';


*{
	box-sizing: border-box;
}
html, body{
	padding: 0px;
	margin: 0px;
	min-width: 100%;
	min-height: 100%;
    height: 100%;
    width: 100%;
	background: $primaryBackgroudColor;
	font-family: $font-family--Roboto;
}

.main-container{
  display :flex;
  position : relative;
  background-color : $primaryBackgroudColor;
  margin-top : 57px;
  justify-content: center;
}
.main-container--one-line{
	height:100%;
	align-items: center;
}