<h1 class="title"> Company Registration </h1>
<form class="general-form company-registration-form">
	<div class="forms-container">
		<div class="forms">
			<div class="forms-block">
				<div class="form-header">
					<h1 class="form-header__h1">Company Identification</h1>
				</div>
				<div class="forms-form">
					<fieldset name="company_identification">
						<label class="form-label" for="company_name">Company Name</label>
						<input type="text" placeholder="Name" name="name" required id="company_name" class="form-element form-element--liquid-width">
						<label class="form-label" for="company-tin">Company TIN</label>
						<input type="number" placeholder="TIN" name="tin" required id="company_tin" class="form-element form-element--liquid-width">
					</fieldset>
				</div>
			</div>
			<div class="forms-block">
				<div class="form-header">
					<h1 class="form-header__h1">Company Address</h1>
				</div>
				<div class="forms-form">
					<fieldset name="company_address">
						<label class="form-label" for="company_email">Company Email</label>
						<input type="email" placeholder="Email" name="email" required id="company_email" class="form-element form-element--liquid-width">
						<label class="form-label" for="company_district">Company District</label>
						<input type="text" placeholder="District" name="district" required id="company_district" class="form-element form-element--liquid-width">
						<label class="form-label" for="company_sector">Company Sector</label>
						<input type="text" placeholder = "Sector" name="sector" required id="company_sector" class="form-element form-element--liquid-width">
						<label class="form-label" for="company_tel">Company Phone</label>
						<input type="tel" maxlength="10" placeholder="Phone" name="tel" required id="company_tel" class="form-element form-element--liquid-width">
					</fieldset>
				</div>
			</div>
		</div>
		<div class="forms-container-foot">
			<input type="submit" class="form-element form-element--liquid-width form-element--submit form-element--submit--company-registration" name="" value="Register">
		</div>
	</div>
</form>
<rs-modal title="Company Registration" role="dialog" id="company_success_message">
	<rs-modal-contents> 
		<rs-modal-body>
			<p class="confirmation_message"> Company Registered Succesfully </p>
		</rs-modal-body>
		<div class="modal-footer">
			<button id="modal-button--confirm" class="button--modal button--success">Ok</button>
		</div>
	</rs-modal-contents>
</rs-modal>
	
