<h1 class="title">Company Actions</h1>
<div class="company_actions">
	<div class="company_search" id="company_search">
		<input type="search" placeholder = "Search Companies" class="form-element form-element--liquid-width form-element--search" name="" id="form-element--search">
		<div class="company_search_content" id="company_search_content">
		</div>
	</div>
	<div class="selection-information">
		<div class="Selected-info">
			<span class="Selected-info__span">Selected Company</span>
		</div>
		<div class="arrow-right" id="arrow-right">
			
		</div>
		<div class="company-name" id="company-name">
			<span class="company-name__span" id="company-name__span">IKWIM PETROLGATE</span>
		</div>
	</div>
	<div class="company_actions-container">
		<a class="activity__a" href="/Employee-registration">
			<div class="activity activity--action">
				<div class="activity-icon">
					<div class="icon-wrapper icon-wrapper--action">
						<i class="material-icons activity-icon__i activity-icon__i--action">assignment</i>
					</div>
				</div>
				<h3 class="activity__h3 activity__h3--action">
					Register Employee
				</h3>
				<p class="activity__p activity__p--action">
					Small description about the activity
					Small description about the activity
				</p>
			</div>
		</a>
		<a class="activity__a" href="/user-credentials">
			<div class="activity activity--action">
				<div class="activity-icon">
					<div class="icon-wrapper icon-wrapper--action">
						<i class="material-icons activity-icon__i activity-icon__i--action">assignment</i>
					</div>
				</div>
				<h3 class="activity__h3 activity__h3--action">
					User Credentials
				</h3>
				<p class="activity__p activity__p--action">
					Small description about the activity
					Small description about the activity
				</p>
			</div>
		</a>
	</div>
</div>