<div class="filter-widget">
	<div class="input-holder">
		<input type="text" name="" placeholder="insert some text" class="form-element form-element--full-width form-element--filter form-element--filter-greater">
	</div>
	<div class="button-holder">
		<button id= "less_than" class="filter-button">&gt;</button>
		<button id="greater_than" class="filter-button">&lt;</button>
		<button id="equal" class="filter-button">&#61;</button>
		<button  id="range" class="filter-button">[ ]</button>
	</div>
</div>