<input type="text" name="" placeholder="insert some text" class="form-element form-element--medium-width">
<select class="form-element form-element--medium-width">
	<option>Select City</option>
	<option>Kigali</option>
	<option>Kigali</option>
	<option>Kigali</option>
</select>
<input type="date" class="form-element form-element--medium-width" name="">
<input type="number" class="form-element form-element--medium-width" name="">
<input type="search" class="form-element form-element--medium-width form-element--search" name="">
<input type="submit" class="form-element form-element--medium-width form-element--submit" name="">