<button id="button">Open test modal</button>
<rs-modal title="Modal First Test" print windowClick role="dialog" id="modal1">
	<rs-modal-contents> 
		<rs-modal-body>
			<div>Body</div>
			<div>Body</div>
			<div>Body</div>
			<div>Body</div>
			<div>Body</div>
			<div>Body</div>
		</rs-modal-body>
		<div class="modal-footer">
			<button class="button button--submit">Sign out</button>
			<button class="button button--submit">Sign out</button>
			<button class="button button--submit">Sign out</button>
			<button class="button button--submit">Sign out</button>
		</div>
	</rs-modal-contents>
</rs-modal>

<rs-modal title="Modal First Test" print windowClick role="dialog" id="modal2">
	<rs-modal-contents> 
		<rs-modal-body>
			<div>Body</div>
			<div>Body</div>
			<div>Body</div>
			<div>Body</div>
			<div>Body</div>
			<div>Body</div>
		</rs-modal-body>
		<div class="modal-footer">
			<button class="button button--submit">Sign out</button>
			<button class="button button--submit">Sign out</button>
			<button class="button button--submit">Sign out</button>
			<button class="button button--submit">Sign out</button>
			<button class="button button--submit">Sign out</button>
			<button class="button button--submit">Sign out</button>
		</div>
	</rs-modal-contents>
</rs-modal>
