<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title> {% block PageTitle %}{% endblock %}</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'/>
	<link href="/{{ 'static/styles/main.css' | add_hash }}" rel="stylesheet"/>
	<script defer type="text/javascript" src="/{{ 'static/scripts/bootstrap.js' | add_hash }}"></script>
</head>
<body>
	{% block header %}{% endblock %}
	<div class="main-container">
	{% block pageContent %}{% endblock %}
	</div>
</body>
</html>
