<div class="page-header">
	<div class ="logo">
		<button type="button" name="button" class="page-header__show-button">
			<i class="material-icons">menu</i>
		</button>
		<img class="logo__img" src="/static/images/logo.png">
	</div>
	<div class="profile">
		<img class="profile__img" src="/static/images/ptrik.jpg">
	</div>
</div>
<div class="profile-popup">
	<div class="profile-description">
		<div class="profile profile--description">
			<img class="profile__img profile__img--description" src="/static/images/ptrik.jpg">
		</div>
		<div class="description">
			<p class="description__p  description__p--major">Patriniyo12@gmail.com</p>
			<p class="description__p  description__p--minor">Software developer</p>
			<p class="description__p  description__p--minor">Software developer</p>
		</div>
	</div>
	<div class="modal-footer">
		<button class="button button--submit">Sign out</button>
	</div>
</div>
<div class="arrow-up">
	
</div>
