	<table class="table table--small-width" id="paginationTable">
		<thead>
			<th>Name</th>
			<th>Ages</th>
		</thead>
		<tbody>
		</tbody>
	</table>
	<div class="pagination">
		<div><a class="pagination__a next-prev" id="pagination__previous">&laquo;</a></div>
		<div class="pagination-number" id="pagination-number"></div>
		<div><a class="pagination__a next-prev" id="pagination__next">&raquo;</a></div>
	</div>

		<table class="table table--small-width" id="paginationTable1">
		<thead>
			<th>Name</th>
			<th>Ages</th>
		</thead>
		<tbody>
		</tbody>
	</table>
	<div class="pagination">
		<div><a class="pagination__a next-prev" id="pagination__previous">&laquo;</a></div>
		<div class="pagination-number" id="pagination-number1"></div>
		<div><a class="pagination__a next-prev" id="pagination__next">&raquo;</a></div>
	</div>