<div class="side-nav-container">
	<div class="nav-container">
		<div class="nav-container-header">
			<div class ="logo">
				<button type="button" name="button" class="page-header__show-button">
					<i class="material-icons">menu</i>
				</button>
				<img class="logo__img" src="/static/images/logo.png">
			</div>
		</div>
		<nav class="navigation">
			<ul class="navigation__ul">
				<li class="navigation__li"><a class="navigation__ul-a" href="">
					<i class="material-icons">home</i><span class="navigation__span">Home</span></a>
				</li>
				<li class="navigation__li"><a class="navigation__ul-a" href="">
					<i class="material-icons">home</i><span class="navigation__span">Ikwim Card</span></a>
				</li>
				<li class="navigation__li"><a class="navigation__ul-a" href="">
					<i class="material-icons">home</i><span class="navigation__span">Ikwim Bond</span></a>
				</li>
				<!-- <h4 class="navigation__h4">Cards</h4>
 -->				<li class="navigation__li"><a class="navigation__ul-a" href="">
					<i class="material-icons">home</i><span class="navigation__span">Client Consumption</span></a>
				</li>
				<li class="navigation__li"><a class="navigation__ul-a" href="">
					<i class="material-icons">home</i><span class="navigation__span"></span>Ikwim-card</a>
				</li>
				<li class="navigation__li"><a class="navigation__ul-a" href="">
					<i class="material-icons">home</i><span class="navigation__span">Client Consumption</span></a>
				</li>
			</ul>
		</nav>
	</div>
</div>


