 <div class="filters-container">
 	<div class="filters left-filters">
 		<button class="button button--success">
</button>
<button class="button button--success">
</button>
 	</div>
 	<div class="filters right-filters">
 		<button class="button button--success">
</button>
<button class="button button--success">
</button>
<button class="button button--success">
</button>
 	</div>
 </div>
 <table class="table table--small-large-width">
  <thead>
  <tr>
    <th>#</th>
    <th>From</th>
    <th>To</th>
    <th>Product</th>
    <th>Amount Consumed</th>
    <th>Discount</th>
    <th>Product</th>
    <th>Amount Consumed</th>
    <th>Discount</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Lorem Ipsum </td>
      <td>Lorem Ipsum </td>
      <td>Lorem Ipsum </td>
      <td>Lorem Ipsum </td>
      <td>Lorem Ipsum </td>
      <td>Lorem Ipsum </td>
      <td>Lorem Ipsum </td>
      <td>Lorem Ipsum </td>
    </tr>
    <tr>
      <td>1</td>
      <td>Lorem Ipsum </td>
      <td>Lorem Ipsum </td>
      <td>Lorem Ipsum </td>
      <td>Lorem Ipsum </td>
      <td>Lorem Ipsum </td>
      <td>Lorem Ipsum </td>
      <td>Lorem Ipsum </td>
      <td>Lorem Ipsum </td>
    </tr>
    <tr>
      <td>1</td>
      <td>Lorem Ipsum </td>
      <td>Lorem Ipsum </td>
      <td>Lorem Ipsum </td>
      <td>Lorem Ipsum </td>
      <td>Lorem Ipsum </td>
      <td>Lorem Ipsum </td>
      <td>Lorem Ipsum </td>
      <td>Lorem Ipsum </td>
    </tr>
    <tr class="table--special-row">
      <td>TOTAL </td>
      <td>Lorem Ipsum </td>
      <td>Lorem Ipsum </td>
      <td>TOTAL </td>
      <td>Lorem Ipsum</td>
      <td>Lorem Ipsum</td>
      <td>Lorem Ipsum </td>
      <td>Lorem Ipsum </td>
      <td>Lorem Ipsum </td>
</table>