<div class="activity-container">
	<a class="activity__a" href="">
		<div class="activity">
			<div class="activity-icon">
				<div class="icon-wrapper">
					<i class="material-icons activity-icon__i">assignment</i>
				</div>
			</div>
			<h3 class="activity__h3">
				Activity
			</h3>
			<p class="activity__p">
				Small description about the activity
				Small description about the activity
			</p>
		</div>
	</a>
	<a class="activity__a" href="">
		<div class="activity">
			<div class="activity-icon">
				<div class="icon-wrapper">
					<i class="material-icons activity-icon__i">assignment</i>
				</div>
			</div>
			<h3 class="activity__h3">
				Activity
			</h3>
			<p class="activity__p">
				Small description about the activity
				Small description about the activity
			</p>
		</div>
	</a>
	<a class="activity__a" href="">
		<div class="activity">
			<div class="activity-icon">
				<div class="icon-wrapper">
					<i class="material-icons activity-icon__i">assignment</i>
				</div>
			</div>
			<h3 class="activity__h3">
				Activity
			</h3>
			<p class="activity__p">
				Small description about the activity
				Small description about the activity
			</p>
		</div>
	</a>
	<a class="activity__a" href="">
		<div class="activity">
			<div class="activity-icon">
				<div class="icon-wrapper">
					<i class="material-icons activity-icon__i">assignment</i>
				</div>
			</div>
			<h3 class="activity__h3">
				Activity
			</h3>
			<p class="activity__p">
				Small description about the activity
				Small description about the activity
			</p>
		</div>
	</a>
	<a class="activity__a" href="">
		<div class="activity">
			<div class="activity-icon">
				<div class="icon-wrapper">
					<i class="material-icons activity-icon__i">assignment</i>
				</div>
			</div>
			<h3 class="activity__h3">
				Activity
			</h3>
			<p class="activity__p">
				Small description about the activity
				Small description about the activity
			</p>
		</div>
	</a>
	<a class="activity__a" href="">
		<div class="activity">
			<div class="activity-icon">
				<div class="icon-wrapper">
					<i class="material-icons activity-icon__i">assignment</i>
				</div>
			</div>
			<h3 class="activity__h3">
				Activity
			</h3>
			<p class="activity__p">
				Small description about the activity
				Small description about the activity
			</p>
		</div>
	</a>
	<a class="activity__a" href="">
		<div class="activity">
			<div class="activity-icon">
				<div class="icon-wrapper">
					<i class="material-icons activity-icon__i">assignment</i>
				</div>
			</div>
			<h3 class="activity__h3">
				Activity
			</h3>
			<p class="activity__p">
				Small description about the activity
				Small description about the activity
			</p>
		</div>
	</a>
		<a class="activity__a" href="">
		<div class="activity">
			<div class="activity-icon">
				<div class="icon-wrapper">
					<i class="material-icons activity-icon__i">assignment</i>
				</div>
			</div>
			<h3 class="activity__h3">
				Activity
			</h3>
			<p class="activity__p">
				Small description about the activity
				Small description about the activity
			</p>
		</div>
	</a>
</div>