<h1 class="title">Set User Credentials</h1>
<div class="credentials">
	<form class="credentials-form">
		<label class="form-label" for="username">Username</label>
		<input type="text" placeholder="Username" name="username" required id="username" class="form-element form-element--small-width">
		<label class="form-label" for="repeat_username">Repeat Username</label>
		<input type="text" placeholder="Repeat Username" name="repeat_username" required id="repeat_username" class="form-element form-element--small-width">
		<p class="login-error--message" id="match-username">Username does not match</p>
		<label class="form-label" for="password">Password</label>
		<input type="password" placeholder="Password"pattern ="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" title="Password should be 8 characters long and includes at least one number and one capital letter" name="password" required id="password" class="form-element form-element--small-width">
		<label class="form-label" for="repeat_password">Repeat Password</label>
		<input type="password" placeholder="Repeat Password" name="repeat_password" required id="repeat_password" class="form-element form-element--small-width">
		<p class="login-error--message" id="match-password">Password does not match</p>
		<input type="submit" class="form-element form-element--small-width form-element--submit form-element--submit--company-registration" name="" value="Save">
	</form>
</div>
<rs-modal title="User credentials" role="dialog" id="user_success_message">
	<rs-modal-contents> 
		<rs-modal-body>
			<p class="confirmation_message"> user Credentials added </p>
		</rs-modal-body>
		<div class="modal-footer">
			<button id="modal-button--confirm" class="button--modal button--success">Ok</button>
		</div>
	</rs-modal-contents>
</rs-modal>