.button{
	height: 40px;
	width:100px;
	margin-left : 3px;
	color : $primaryColor;
	transition: background-color 0.5s ease-out;
	font-weight : bold;
}
.button--modal{
	height: 30px;
	width:70px;
	margin-left : 3px;
	color : $primaryColor;
	transition: background-color 0.5s ease-out;
	font-weight : bold;
}

.button--danger{
	@include button ($dangerColor);
}
.button--success{
	@include button ($succesColor);
}
.button--success--modal{
	@include button ($succesColor);
}
.button--submit{
	@include button ($submitColor);
}
.button--print{
    @include button ($primaryColor);
    color : $succesColor;
    height :35px;
    width: auto;
}
.button--submit:hover{
	background-color : $submitColor--hover;
}

.button--danger:hover{
	background-color : $dangerColor--hover;
}

.button--success:hover{
	background-color : $succesColor--hover;
}