    .modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
        z-index : 99999999;
    }
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $primaryColor;
        padding: 0.5rem;
        width: auto;
    }
    .close-print{
        display : flex;
        height : 35px;
        width : 100%;
        background-color : inherit;
        margin-bottom : 5px;
    }
    .print-button-container{
        background-color : inherit;
        flex-basis : 50%;
    }
    .close-button-container{
        display : flex;
        background-color : inherit;
        flex-basis : 50%;
        justify-content: flex-end;
        padding-right : 10px;
    }
    .close-button {
        line-height: 2rem;
        font-size: 2rem;
        text-align: center;
        cursor: pointer;
        color: #000;
        vertical-align : middle;
    } 
    .close-button:hover {
        color: $dangerColor;
    }
    .show-modal {
        opacity: 1;
        visibility: visible;
        transform: scale(1.0);
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }
