.activity-container{
	display:flex;
	background-color:inherit;
	flex-wrap: wrap;
	justify-content:center;
}
.activity{
	display:flex;
	flex-direction: column;
	width:300px;
	border: 1px solid $borderPrimaryColor;
    border-radius:2px;
    background-color:$primaryColor;
    padding: 20px;
    color: $primaryFontColor;
    font-family: $font-family--Roboto;
    margin: 8px;
}
.activity:hover{
	transform: scale(1.1,1.1);
	transition: transform 1s ease;
}
.activity__a{
	text-decoration:none;
}
.activity-icon{
	display: flex;
    justify-content: center;
    align-items: center;
}
.icon-wrapper{
	padding: 10px;
	width:120px;
	height:120px;
	border-radius: 60px;
	border: 1px dashed $submitColor--hover;
}
.activity-icon__i {
	font-size: 100px;
	color: $submitColor--hover;
}
.activity__h3{
	text-align: center;
	margin-bottom: 0;
	font-size: 24px;
}
.activity__p{
	font-size: $normalFontSize;
	line-height: 1.5;
	color: $primaryFontColor;
	font-family: $font-family--Roboto;
}

@media (max-width: 500px) {
	.activity {
		width:150px;
		/* height:200px; */
	}
	.icon-wrapper{
		width:50px;
		height:50px;
		border-radius: 25px;
		padding:4px;
	}
   .activity-icon__i {
   	font-size: 40px;
   }
   .activity__h3{
   	font-size: 15px;
   }
   .activity__p{
   	font-size: $fontSizeSmall;
   	display:none;
   }
}