.credentials{
	width: 50%;
    padding:2% 10%;
    color: $primaryFontColor;
    background-color: $primaryColor;
    font-family: $font-family--Roboto;
    border: 1px solid $borderPrimaryColor;
    border-radius:2px;
}