<h1 class="title"> Company Registration </h1>
<form class="company-registration-form">
	<div class="forms-container">
		<div class="forms">
			<div class="forms-block">
				<div class="form-header">
					<h1 class="form-header__h1">Company Identification</h1>
				</div>
				<div class="forms-form">
					<fieldset name="company_identification">
						<label class="form-label" for="company_name">Company Name</label>
						<input type="text" name="company_name" required id="company_name" class="form-element form-element--medium-width">
						<label class="form-label" for="company-tin">Company TIN</label>
						<input type="number" name="company_tin" required id="company_tin" class="form-element form-element--medium-width">
					</fieldset>
				</div>
			</div>
			<div class="forms-block">
				<div class="form-header">
					<h1 class="form-header__h1">Company Address</h1>
				</div>
				<div class="forms-form">
					<fieldset name="company_address">
						<label class="form-label" for="company_email">Company Email</label>
						<input type="email" name="company_email" required id="company_email" class="form-element form-element--medium-width">
						<label class="form-label" for="company_district">Company District</label>
						<input type="text" name="company_district" required id="company_district" class="form-element form-element--medium-width">
						<label class="form-label" for="company_sector">Company Sector</label>
						<input type="text" name="company_sector" required id="company_sector" class="form-element form-element--medium-width">
						<label class="form-label" for="company_tel">Company Phone</label>
						<input type="tel" maxlength="10" name="company_tel" required id="company_tel" class="form-element form-element--medium-width">
					</fieldset>
				</div>
			</div>
		</div>
		<div class="forms-container-foot">
			<input type="submit" class="form-element form-element--medium-width form-element--submit form-element--submit--company-registration" name="" value="Register">
		</div>
	</div>
</form>
<script type="text/javascript">
	/*function get_form_data(form = null){
		let formData = {};
		let isInvalid = false;
		let hasFieldsets=false;
		if(form.querySelector('fieldset') !== null ) hasFieldsets = true;
		if(form==null && !(form instanceof HTMLElement) ) return formData; 
		if (hasFieldsets) {
			const fieldsets = form.querySelectorAll('fieldset');
			fieldsets.forEach(fieldset =>{
				fieldsetObject = makeFormObject(fieldset);
				formData[fieldset.name] = fieldsetObject;
			});
		}else{
			formData = makeFormObject(form);
			if(!formData) isInvalid = true;
		}
		isInvalid ? formData = false : formData;
		return formData;
	}

function makeFormObject(elementSet){
	let formData = {};
	let isInvalid = false;
	Array.from(elementSet.elements).forEach(element =>{
    	if (element.type != "submit"){
    		if(element.required && !element.value) isInvalid = true;
	        if(!element.name) isInvalid = true;	        
	        formData[element.name] = element.value;
	    }          
    });
     isInvalid ? formData =  false : formData;
     return formData;
}*/
/*function addEventListeners(){
	const form = document.querySelector("form.company-registration-form");
	if (!form) return;
	form.addEventListener('submit',submitForm);
}
function submitForm(evt){
	evt.preventDefault();
	console.log(get_form_data(evt.target));
}
addEventListeners();*/
</script>
