$primaryColor: #fefefe;
$dangerColor: #ff6300;
$dangerColor--hover: #b34400;
$succesColor: #014c07;
$succesColor--hover: #012303;
$submitColor: #0080c0;
$submitColor--hover: #003a57;
$primaryFontColor: #42454a;
$primaryBackgroudColor: #f9fafa; 
/* #e9ecef */
$borderPrimaryColor:#e6e6e6;
$normalFontSize: 14px;
$fontSizeSmall: 12px;
$font-family:Helvetica, Arial,sans-serif;
$font-family--Roboto:'Roboto',sans-serif;

